{% extends "base.html" %} {% block title %}Interactive Brokers{% endblock %} {%
block content %}
<form id="tradeForm">
  <!-- Dropdown for selecting symbols -->
  <label for="symbols">Select Symbol:</label>
  <select id="symbols" name="symbols">
    <option value="">Loading...</option></select
  ><br />
  
  <!-- <label>Symbol: <input type="text" name="symbol" required></label><br> -->
  <label>Size: <input type="number" name="size" required /></label><br />
  <label>Expiry Period: <input type="text" name="expiry" required /></label
  ><br />
  <label
    >Action:
    <select name="action" required>
      <option value="BUY">Buy</option>
      <option value="SELL">Sell</option>
    </select> </label
  ><br />
  <button type="button" onclick="placeTrade()">Place Trade</button>
</form>

<h2>Current Profit</h2>
<div id="profit">No active trade</div>

<!-- Display Position Info -->
<div id="position-info" class="position-info">
  <h2>Position Information</h2>
  <p><strong>Account:</strong> <span id="account"></span></p>
  <p><strong>Symbol:</strong> <span id="symbol"></span></p>
  <p><strong>Position:</strong> <span id="position"></span></p>
  <p><strong>Average Cost:</strong> $<span id="avgCost"></span></p>
</div>

<script type="module" src="/static/script/tws.js"></script>

{% endblock %}
